<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>LOG TABLE</h1>
    <table border="2" cellpadding="5px" cellspacing="0px">
        <tr>
            <th>operand1</th>
            <th>operation</th>
            <th>operand2</th>
            <th>output</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{i.operand1}}</td>
            <td>{{i.operator}}</td>
            <td>{{i.operand2}}</td>
            <td>{{i.output}}</td>
        </tr>
        
        {% endfor %}
    </table>
</body>
</html>